# Byte-compiled / caches
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDEs
.vscode/
.idea/